.gradient{
  min-height: 100px;
  background: rgb(2,0,36);
  background: linear-gradient(357deg, rgba(2,0,36,1) 0%, rgba(45,135,153,1) 0%, rgba(144,136,42,1) 72%);
}

.account-header{
  text-align: start;
}
